.home {
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0px;
    height: 90vh;
    width: 100vw;
  }

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
}

.about-box, .recommend-box, .gallery-box, .scale-box, .contact-box {
  height: 30vmin;
  width: 30vmin;
  margin: 5vmin;
  margin-top: 0;
  transform: translate(0%, 45%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: -15px 15px 10px rgba(49, 49, 49, 0.45)
}

.about-box {
  background-image: url("../../../public/image/grad_walk.JPG");
  background-size: 200%;
  background-position: 30% 50%;
  margin-bottom: 10vmin;
}

.recommend-box {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/7/74/The_Last_Stand_of_the_Tin_Can_Sailors.jpg");
  background-size: cover;
}

.gallery-box {
  background-image: url('../../../public/image/gallery/aryasnow.jpg');
  background-size: cover;
  background-position: 25% 0%;
}

.scale-box {
  background-image: url("../../../public/image/ninetysecond_infantry.jpg");
  background-size: cover;
}

.contact-box {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7PEPmWe92UMQHUMfIF-dWuLP_2cp-7QdteA&usqp=CAU");
  background-size: cover;
}

.effect {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(
    130deg, 
    transparent 0% 33%,  
    rgb(98, 0, 234) 66%, 
    rgb(236, 64, 122) 83.5%, 
    rgb(253, 216, 53) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  transition: background-position 350ms ease, transform 350ms ease, color 700ms ease;
  color: #ffffff00;
  
  text-align: center;
  text-shadow: -15px 15px 10px rgba(49, 49, 49, 0);
}

.effect:hover {
  background-position: 100% 100%;
  transform: scale(1.1, 1.1);
  color: #ffffffff;
  text-shadow: -15px 15px 10px rgba(49, 49, 49, 0.45);
}