@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.quiz-container body {
  font-family: 'Anek Malayalam', sans-serif;
  background-image: none;
  background-size: cover;
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0px;
}

.quiz-container {
  max-width: 500px;
  min-width: 250px;
  background: #c3c3c3e5;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 45px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #df1616;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.quiz-container h3 {
  color: #000000;
}

.quiz-container p {
  color: #000000;
  margin: -1px 0px;
  font-size: 12px;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-size: 16px;
  background: #f3f3f9;
  background-position: right bottom;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: linear-gradient(to left, #f3f3f9 50%, #ffdfdf 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  border: 1px solid #9c0000;
  transition: all .75s ease-out;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #800000 0.03%, #ffc0c0 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #000000;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #a70303;
  font-size: 22px;
}